<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="panda">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />
    <xacro:arg name="ros2_control_hardware_type" default="mock_components" />
    <xacro:property name="PI" value="3.14159274"/>

    <!-- Import panda urdf file -->
    <xacro:include filename="$(find robot_description)/urdf/panda.urdf" />
    <xacro:include filename="$(find robot_description)/urdf/camera/camera.xacro"/>

    <!-- Camera -->
    <xacro:camera_v0 parent="panda_link0">
	    <origin xyz="0.2 0.6 0.7" rpy="0 ${PI/2} 0"/>
    </xacro:camera_v0>
    <xacro:camera_gazebo_v0/>

    <!-- controllers for gazebo -->
    <xacro:include filename="panda.gazebo_ros2_control.xacro" />
    <xacro:panda_gazebo_ros2_control initial_positions_file="$(arg initial_positions_file)"/>

    <!-- There were no gazebo files in the original file-->
  <gazebo>
    <plugin
        filename="gz_ros2_control-system"
        name="gz_ros2_control::GazeboSimROS2ControlPlugin">
        <parameters>$(find panda_moveit_config)/config/ros2_controllers.yaml</parameters>
    </plugin>
    <plugin
        filename="gz-sim-joint-state-publisher-system"
        name="gz::sim::systems::JointStatePublisher">
    </plugin>
    <plugin
        filename="gz-sim-pose-publisher-system"
        name="gz::sim::systems::PosePublisher">
        <publish_link_pose>true</publish_link_pose>
        <use_pose_vector_msg>true</use_pose_vector_msg>
        <publish_nested_model_pose>true</publish_nested_model_pose>
    </plugin>

    <plugin filename="ignition-gazebo-sensors-system" name="ignition::gazebo::systems::Sensors">
      <render_engine>ogre2</render_engine>
    </plugin>
  </gazebo>
</robot>
